<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trxhost.msdk.core.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.trxhost.msdk.core.android.App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="MSDK Core Test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="s">
        <activity
            android:name="com.trxhost.msdk.core.android.aps.ApsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name="com.trxhost.msdk.core.android.card.SavedCardSaleActivity"
            android:exported="false" />
        <activity
            android:name="com.trxhost.msdk.core.android.payment.PaymentRestoreActivity"
            android:exported="false" />
        <activity
            android:name="com.trxhost.msdk.core.android.card.CardSaleActivity"
            android:exported="false" />
        <activity
            android:name="com.trxhost.msdk.core.android.account.remove.AccountRemoveActivity"
            android:exported="false" />
        <activity
            android:name="com.trxhost.msdk.core.android.gpay.GPaySaleActivity"
            android:exported="false" />
        <activity
            android:name="com.trxhost.msdk.core.android.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>